<section class="about-me">
  <div class="container">
    <h2 class="about-me-header">
      About <span class="about-me-header-span">me</span>
    </h2>
    <ul class="about-me-top-line">
      <li class="about-me-top-line-item-img">
        <!-- img -->
        <img
          class="about-me-img"
          src="../img/about-img/about-me.jpg"
          alt="my photo"
          srcset="
            ../img/about-img/about-me.jpg,
            1x,
            ../img/about-img/about-me-2x.jpg,
            2x
          "
        />
      </li>
      <!-- bio -->
      <li class="about-me-top-line-item-bio">
        <h3 class="about-me-bio-header">bio</h3>
        <ul class="about-me-bio-list">
          <li class="about-me-bio-item">
            <p class="about-me-bio-text">
              I'm Lloyd Jefferson, a talented programmer specializing in
              software development. My expertise spans various programming
              languages and technologies, and I am dedicated to continually
              enhancing my skills. I thrive on seeking unconventional and
              creative solutions to problems, leveraging a high level of
              analytical skills to effectively tackle even the most challenging
              tasks.
            </p>
          </li>
          <li class="about-me-bio-item">
            <p class="about-me-bio-text">
              Adaptable to both independent and team-oriented work, I
              collaborate seamlessly with colleagues, exchanging ideas and
              finding optimal solutions. My professional maturity enables me to
              navigate challenges and stressful situations with a calm demeanor,
              maintaining a consistently high quality of work. Committed to
              self-improvement, I actively engage in studying new technologies
              and practices to stay current with the latest innovations in the
              field.
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <!-- dscr -->
    <ul class="about-me-dscr-list">
      <li class="about-me-dscr-list-item">
        <ul class="about-me-educ-list">
          <h3 class="about-me-educ-header">EDUCATION</h3>
          <li class="about-me-educ-list-item">
            <p class="about-me-educ-list-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="about-me-educ-list-item">
            <p class="about-me-educ-list-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="about-me-educ-list-item">
            <p class="about-me-educ-list-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </li>
      <li class="about-me-dscr-list-item">
        <ul class="about-me-role-list">
          <h3 class="about-me-role-header">ROLE</h3>
          <li class="about-me-role-list-item">
            <p class="about-me-role-list-text">Frontend development</p>
          </li>
          <li class="about-me-role-list-item">
            <p class="about-me-role-list-text">HeadlessCMS, Wordpress</p>
          </li>
          <li class="about-me-role-list-item">
            <p class="about-me-role-list-text">Blender (enjoy)</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
