<section>
  <div class="faq-container container">
    <div class="faq-title-n-img">
      <h2 class="faq-title">
        frequently asked <span class="faq-title-green">question</span>
      </h2>
      <img
        src="./img/hero-img/bg-4-min.png"
        alt="backgroun decor"
        width="536"
        height="422"
        class="faq-bcg-img"
      />
    </div>

    <ul class="faq-list accordion-container">
      <li class="faq-item ac">
        <div class="faq-title-n-btn ac-header">
          <h3 class="faq-title-ac">
            What programming languages are most often used in your project?
          </h3>
          <button class="faq-btn ac-trigger" type="button" aria-label="btn-ac">
            <svg class="faq-svg faq-svg-up" width="24" height="24">
              <use href="./img/icon.svg#icon-up-btn"></use>
            </svg>
          </button>
        </div>
        <div class="faq-text-box ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="faq-title-n-btn ac-header">
          <h3 class="faq-title-ac">What are the deadlines for the project?</h3>
          <button class="faq-btn ac-trigger" type="button" aria-label="btn-ac">
            <svg class="faq-svg faq-svg-down" width="24" height="24">
              <use href="./img/icon.svg#icon-down-btn"></use>
            </svg>
          </button>
        </div>
        <div class="faq-text-box ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="faq-title-n-btn ac-header">
          <h3 class="faq-title-ac">What payment methods do you accept?</h3>
          <button class="faq-btn ac-trigger" type="button" aria-label="btn-ac">
            <svg class="faq-svg faq-svg-down" width="24" height="24">
              <use href="./img/icon.svg#icon-down-btn"></use>
            </svg>
          </button>
        </div>
        <div class="faq-text-box ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="faq-title-n-btn ac-header">
          <h3 class="faq-title-ac">How can I contact you?</h3>
          <button class="faq-btn ac-trigger" type="button" aria-label="btn-ac">
            <svg class="faq-svg faq-svg-down" width="24" height="24">
              <use href="./img/icon.svg#icon-down-btn"></use>
            </svg>
          </button>
        </div>
        <div class="faq-text-box ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="faq-title-n-btn ac-header">
          <h3 class="faq-title-ac">Do you provide advice or support?</h3>
          <button class="faq-btn ac-trigger" type="button" aria-label="btn-ac">
            <svg class="faq-svg faq-svg-down" width="24" height="24">
              <use href="./img/icon.svg#icon-down-btn"></use>
            </svg>
          </button>
        </div>
        <div class="faq-text-box ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="faq-title-n-btn ac-header">
          <h3 class="faq-title-ac">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button class="faq-btn ac-trigger" type="button" aria-label="btn-ac">
            <svg class="faq-svg faq-svg-down" width="24" height="24">
              <use href="./img/icon.svg#icon-down-btn"></use>
            </svg>
          </button>
        </div>
        <div class="faq-text-box ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
