<footer class="footer">
  <div class="container">
    <nav class="footer-navigation">
      <h2 class="footer-logo">
        lloyd<span class="footer-logo-span">jefferson.</span>
      </h2>
      <ul class="footer-social-list">
        <li class="footer-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="footer-item-link"
            >Instagram</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="footer-item-link"
            >Facebook</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            class="footer-item-link"
            >Linkedin</a
          >
        </li>
        <li class="footer-list-item">
          <a
            href="https://github.com/AntonSkoro10/CV-L.Jefferson"
            target="_blank"
            class="footer-item-link"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-copyright">
      &#9400; Copyright 2024. Made by LloydJefferson
    </p>
  </div>
</footer>
