<footer>
    <div class="footer-logo">LLOYDJEFFERSON.</div>
    <div class="social-links">
        <ul>
            <li><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
            <li><a href="https://www.youtube.com/c/GoIT" target="_blank">YouTube</a></li>
            <li><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
            <li><a href="https://github.com/your-github-repo" target="_blank">GitHub</a></li>

        </ul>
    </div>
    <div class="footer-text">© Copyright 2024. Made by LloydJefferson</div>
</footer>
