<div class="container hero-container">
    <div class="hero-backgrond">
        <h1 class="hero-title">Hello, I’m
            <img class="hero-img" src="./img/hero-img/hero-img.png" srcset="
                                ./img/hero-img/hero-img.png 1x,
                                ./img/hero-img/hero-img.png 2x
                              " alt="jefferson" width="108" height="108">
            <span class="hero-title-spam">Fullstack developer</span>
        </h1>
        <div class="hero-posicion">
            <a href="#work-together" class="hero-button">
                <svg class="icon icon-Arrow-hero">
                    <use href="./img/icon.svg#hero-arrow"></use>
                </svg>
                Order the <span class="hero-button-spam"> project</span></a>
            <p class="hero-paragraf">I work with people all over the world to create <span
                    class="hero-paragraf-color">impressive</span> and <span class="hero-paragraf-color">functional
                    websites</span> that
                reflect each client’s
                unique
                personality.</p>
        </div>
    </div>
    <div>
        <ul class="hero-contact">
            <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li><a href="https://www.youtube.com/c/GoIT">YouTube</a></li>
            <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li><a href="https://github.com/AntonSkoro10/CV-L.Jefferson">GitHub</a></li>
        </ul>
    </div>