<div class="container hero-container">
    <div class="hero-backgrond">
        <h1 class="hero-title">Hello, I’m
            <img class="hero-img" src="../img/about-img/about-me.jpg" srcset="
                                ../img/about-img/about-me.jpg 1x,
                                ../img/about-img/about-me-2x.jpg 2x
                              " alt="jefferson" width="108" height="108">
            <span class="hero-title-spam">Fullstack developer</span>
        </h1>
        <a href="#work-together" class="hero-button">Order the project</a>
        <p class="hero-paragraf">I work with people all over the world to create <span class="hero-paragraf-color">impressive</span> and <span class="hero-paragraf-color">functional websites</span> that
            reflect each client’s
            unique
            personality.</p>
    </div>
    <div>
        <ul class="hero-contact">
            <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li><a href="https://www.youtube.com/c/GoIT">YouTube</a></li>
            <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li><a href="http://">GitHub</a></li>
        </ul>
    </div>

</div>