<section class="projects">
  <div class="container">
    <h2 class="projects-title">
      MY<span class="projects-title-span"> PROJECTS</span>
    </h2>
    <ul id="js-projects-list" class="projects-list">
      <li class="projects-item visible">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/wallet.jpg    1x,
            ./img/projects-img/wallet-2x.jpg 2x
          "
          src="./img/projects-img/wallet.jpg"
          alt="wallet webservice "
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">wallet webservice</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item visible">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/green-store.jpg    1x,
            ./img/projects-img/green-store-2x.jpg 2x
          "
          src="./img/projects-img/green-store.jpg"
          alt="green harvest online store"
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">green harvest webservice</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item visible">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/english.jpg    1x,
            ./img/projects-img/english-2x.jpg 2x
          "
          src="./img/projects-img/english.jpg"
          alt="English excellence webservice "
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">English excellence webservice</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/jewelry.jpg    1x,
            ./img/projects-img/jewelry-2x.jpg 2x
          "
          src="./img/projects-img/jewelry.jpg"
          alt="chego jewelry website"
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">chego jewelry website</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/energy-flow.jpg    1x,
            ./img/projects-img/energy-flow-2x.jpg 2x
          "
          src="./img/projects-img/energy-flow.jpg"
          alt="energy flow webservice "
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">energy flow webservice</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/fruit.jpg    1x,
            ./img/projects-img/fruit-2x.jpg 2x
          "
          src="./img/projects-img/fruit.jpg"
          alt="fruitbox online store"
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">fruitbox online store</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/starlight.jpg    1x,
            ./img/projects-img/starlight-2x.jpg 2x
          "
          src="./img/projects-img/starlight.jpg"
          alt="starlight studio landing page"
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">starlight studio landing page</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/starlight.jpg    1x,
            ./img/projects-img/starlight-2x.jpg 2x
          "
          src="./img/projects-img/mimino.jpg"
          alt="mimino website"
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">mimino website</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/vyshyvanka.jpg    1x,
            ./img/projects-img/vyshyvanka-2x.jpg 2x
          "
          src="./img/projects-img/vyshyvanka.jpg"
          alt="vyshyvanka vibes Landing Page"
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">vyshyvanka vibes Landing Page</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <img
          class="projects-item-img"
          srcset="
            ./img/projects-img/power.jpg    1x,
            ./img/projects-img/power-2x.jpg 2x
          "
          src="./img/projects-img/power.jpg"
          alt="power pulse webservice "
        />
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">power pulse webservice</h3>
          <a class="projects-item-link" href="">
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button id="js-projects-btn" class="projects-btn">Show more</button>
  </div>
</section>
