<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects-title">
      MY<span class="projects-title-span"> PROJECTS</span>
    </h2>
    <ul id="js-projects-list" class="projects-list">
      <li class="projects-item visible">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/wallet-pc.jpg    1x,
              ./img/projects-img/pc/wallet-pc-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/tab/wallet-tab.jpg    1x,
              ./img/projects-img/tab/wallet-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/mob/wallet-mob.jpg    1x,
              ./img/projects-img/mob/wallet-mob-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/mob/wallet-mob-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">wallet webservice</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item visible">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/green-store-pc.jpg    1x,
              ./img/projects-img/pc/green-store-pc-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/tab/green-store-tab.jpg    1x,
              ./img/projects-img/tab/green-store-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/mob/green-store-mob.jpg    1x,
              ./img/projects-img/mob/green-store-mob-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/mob/green-store-mob-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">green harvest webservice</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item visible">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/english-pc.jpg    1x,
              ./img/projects-img/pc/english-pc-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/tab/english-tab.jpg    1x,
              ./img/projects-img/tab/english-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/mob/english-mob.jpg    1x,
              ./img/projects-img/mob/english-mob-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/mob/english-mob-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">English excellence webservice</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/jewelry.jpg    1x,
              ./img/projects-img/pc/jewelry-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/jewelry.jpg    1x,
              ./img/projects-img/pc/jewelry-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/jewelry.jpg    1x,
              ./img/projects-img/pc/jewelry-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/jewelry-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">chego jewelry website</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/energy-flow.jpg    1x,
              ./img/projects-img/pc/energy-flow-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/energy-flow.jpg    1x,
              ./img/projects-img/pc/energy-flow-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/energy-flow.jpg    1x,
              ./img/projects-img/pc/energy-flow-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/energy-flow.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">energy flow webservice</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/fruit.jpg    1x,
              ./img/projects-img/pc/fruit-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/fruit.jpg    1x,
              ./img/projects-img/pc/fruit-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/fruit.jpg    1x,
              ./img/projects-img/pc/fruit-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/fruit-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">fruitbox online store</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/starlight.jpg    1x,
              ./img/projects-img/pc/starlight-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/starlight.jpg    1x,
              ./img/projects-img/pc/starlight-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/starlight.jpg    1x,
              ./img/projects-img/pc/starlight-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/starlight-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">starlight studio landing page</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/mimino.jpg    1x,
              ./img/projects-img/pc/mimino-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/mimino.jpg    1x,
              ./img/projects-img/pc/mimino-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/mimino.jpg    1x,
              ./img/projects-img/pc/mimino-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/mimino-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">mimino website</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/vyshyvanka.jpg    1x,
              ./img/projects-img/pc/vyshyvanka-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/vyshyvanka.jpg    1x,
              ./img/projects-img/pc/vyshyvanka-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/vyshyvanka.jpg    1x,
              ./img/projects-img/pc/vyshyvanka-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/vyshyvanka-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">vyshyvanka vibes Landing Page</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-item">
        <picture class="projects-item-img">
          <source
            srcset="
              ./img/projects-img/pc/power.jpg    1x,
              ./img/projects-img/pc/power-2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1008"
          />
          <source
            srcset="
              ./img/projects-img/pc/power.jpg    1x,
              ./img/projects-img/pc/power-2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./img/projects-img/pc/power.jpg    1x,
              ./img/projects-img/pc/power-2x.jpg 2x
            "
            media="(min-width: 480px)"
            width="320"
          />
          <img
            class="projects-item-img"
            src="./img/projects-img/pc/power-2x.jpg"
            alt="Banking App Interface Concept"
            width="320"
          />
        </picture>
        <p class="projects-item-tech">React, JavaScript, Node JS, Git</p>
        <div class="projects-item-container">
          <h3 class="projects-item-title">power pulse webservice</h3>
          <a
            class="projects-item-link"
            href="https://vladislav-pavlenko.github.io/goit-markup-hw-06/"
            target="_blank"
          >
            <span class="projects-item-link-span">VISIT</span>
            <svg class="projects-item-link-svg" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button id="js-projects-btn" class="projects-btn">Show more</button>
  </div>
</section>
