<section id="tech-skills" class="tech-skills">
    <div class="ticker">
        <div class="ticker__wrapper right">
            <div class="ticker__item">
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
                
            </div>
            <div class="ticker__item">
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
            </div>
        </div>
    </div>
    <div class="ticker">
        <div class="ticker__wrapper left">
            <div class="ticker__item">
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
            </div>
            <div class="ticker__item">
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">HTML/CSS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">JAVASCRIPT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">NODE.JS</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">REACT NATIVE</span>
                <span class="ticker-point"></span>
                <span class="ticker__text">TYPESCRIPT</span>
            </div>
        </div>
    </div>
</section>