<section class="co-work">
  <div class="container">
    <div class="desctope-wrap">
      <div class="co-work-wrap">
        <h3 class="co-work-title">
          <span class="co-work-span">let’s</span> work together
        </h3>
        <p class="co-work-after-title">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <ul class="co-work-contact-list">
          <li class="co-work-contact-item">
            <a href="tel:+380904567890" class="co-work-contact-link">
              <svg class="co-work-contact-icon" width="24" height="24">
                <use href="#icon-id"></use>
              </svg>
              +38 090 456 78 90
            </a>
          </li>
          <li class="co-work-contact-item">
            <a
              href="mailto:lloydjefferson@gmail.com"
              class="co-work-contact-link"
            >
              <svg class="co-work-contact-icon" width="24" height="24">
                <use href="#icon-id"></use>
              </svg>
              lloydjefferson@gmail.com
            </a>
          </li>
          <li class="co-work-contact-item">
            <a
              href="https://maps.app.goo.gl/fj9YBFDbph1oDy8J7"
              target="_blank"
              class="co-work-contact-link"
            >
              <svg class="co-work-contact-icon" width="24" height="24">
                <use href="#icon-id"></use>
              </svg>
              USA, New York
            </a>
          </li>
        </ul>
      </div>
      <!-- FORM -->
      <div class="co-work-form-wrap">
        <form class="co-work-form">
          <input
            class="co-work-user"
            type="text"
            name="username"
            placeholder="Your email*"
          />

          <textarea
            class="co-work-message"
            name="feedback"
            rows="5"
            placeholder="Message"
          ></textarea>

          <button class="co-work-btn" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </div>
</section>
