.about-me-educ-list-item::before,
.about-me-role-list-item::before {
  content: '';
  display: inline-block;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: #14c57c;
  transform: rotate(-180deg);
  position: relative;
  left: 10px;
  top: 20px;
}
.about-me-header {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
  margin-bottom: 40px;
}

.about-me-header-span {
  color: #14c57c;
}
/* == top line */
.about-me-top-line {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

/* ==== BIO ======= */
.about-me-bio-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.about-me-bio-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
}

/* === img === */
.about-me-img {
  border-radius: 18px;
  width: 320px;
  height: 374px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .about-me-img {
    margin-left: 104px;
  }
}

/* ==== dscr ==== */
.about-me-dscr-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}

.about-me-dscr-list-item {
  width: 320px;
}

.about-me-educ-header,
.about-me-role-header,
.about-me-bio-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f0f0f0;
}

.about-me-educ-list,
.about-me-role-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-educ-list-text,
.about-me-role-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
  margin-left: 32px;
}

@media screen and (min-width: 768px) {
  .about-me-top-line {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .about-me-bio-list {
    width: 336px;
    height: 600px;
  }

  .about-me-img {
    width: 336px;
    height: 392px;
    margin-top: 368px;
    margin-bottom: 0;
  }

  .about-me-dscr-list {
    display: flex;
    flex-direction: row;
    gap: 136px;
  }
  .about-me-educ-list-item {
    width: 384px;
  }

  .about-me-educ-header,
  .about-me-role-header,
  .about-me-bio-header {
    font-size: 36px;
    line-height: 48px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
  .about-me-top-line-item-bio {
    background-image: url(../img/hero-img/bg-2-min.png);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: left bottom;
  }
}
@media screen and (min-width: 1280px) {
  .about-me-header {
    font-size: 108px;
    line-height: 124px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  .about-me-top-line {
    margin-bottom: 80px;
  }

  .about-me-bio-list {
    width: 488px;
    height: 408px;
  }

  .about-me-img {
    width: 384px;
    height: 448px;
    margin-top: 272px;
  }
}
