.abuot-me-header{
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 64px; 
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f0f0f0;
    margin-bottom: 40px;
}
.abuot-me-header-span{
    color: #14c57c;
}

.about-me-top-line{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 40px;
}

/* ==== BIO ======= */
 .abuot-me-bio-list{
  
    display: flex;
    flex-direction: column; 
    gap: 24px; 
}   

.abuot-me-bio-text{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #f0f0f0;
}
/* === img === */
.abuot-me-img{
    border-radius: 18px;
    width: 320px;
    height: 374px;
    margin-bottom: 40px;
}
/* ==== dscr ==== */
.about-me-dscr-list{
    display: flex;
    justify-content: space-between;
}
.about-me-dscr-list-item{
    width: 384px;
}
.about-me-educ-header,
.about-me-role-header,
.abuot-me-bio-header{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px; 
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f0f0f0;
    margin-bottom: 32px;
}
.about-me-dscr-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-me-dscr-list-item{
    width: 320px;
    height: 288px;
   
    
}
.about-me-educ-list,
.about-me-role-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.about-me-educ-list-text,
.about-me-role-list-text{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #f0f0f0;
}
@media screen and (min-width: 768px) {
   
    .about-me-top-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .abuot-me-bio-list{
        width: 336px;
        height: 600px;
    }
    .abuot-me-img {
        border-radius: 18px;
        width: 336px;
        height: 392px;
        margin-top: 368px;
        }
    .about-me-dscr-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .about-me-educ-header,
    .about-me-role-header,
    .abuot-me-bio-header {
        font-size: 36px;
        line-height: 48px; 
        line-height: 1.33333;
        letter-spacing: 0.01em;
    }
    
}

@media screen and (min-width: 1280px) {
    .abuot-me-header {
            font-size: 108px;
            line-height: 124px;
            line-height: 1.14815;
            letter-spacing: 0.02em;
        }
    
        .about-me-top-line {
            margin-bottom: 80px;
        }
    
        .abuot-me-bio-list {
            width: 488px;
            height: 408px;
        }
        .abuot-me-img {
            border-radius: 18px;
            width: 384px;
            height: 448px;
            margin-top: 272px;
        }

}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .container {
        min-width: 320px;
        max-width: 360px;
    }
}