.benefits {
    background-color: #1E2023;
}

.second-heading {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 64px; 
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F0F0F0;
  }

  .heading-span {
    font-weight: 400;
    font-size: 52px;
    line-height: 64px; 
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #14c57c;
  }

  .benefits-div{
    width: 100%;
    height: auto;
  }

.benefits-list {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
  }

  .benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: rgba(20, 197, 124, 0.1);
  }

  .icon {
    fill: #FFFFFF;
    align-items: center;
    justify-content: center;
  }

.benefits-svg {
    stroke: #14c57c;
  }
  
  .benefits-list-item {
    width: 100%;
    position: relative;
  }
  
.benefits-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    gap: 8px;
  }
  
.benefits-list-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px; 
    line-height: 1.55556;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F0F0F0;
  }
  
.benefits-list-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #F0F0F0;
  }

  
  @media only screen and (max-width: 767px) {
    .benefits {
      padding: 48px 0;
    }
  
    .benefits-list {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 64px;
    }

    .benefits-list-item:not(:last-child) {
        margin-bottom: 16px;
      }

    .second-heading {
        margin-bottom: 40px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .benefits-list-item {
      width: calc((100% - 32px) / 2);
    }

    .second-heading {
        font-family: 'Impact', sans-serif;
        font-weight: 400;
        font-size: 108px;
        line-height: 1.14815;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding-top: 68px;
    }

    .heading-span {
        font-family: 'Impact', sans-serif;
        font-weight: 400;
        font-size: 108px;
        line-height: 1.14815;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #14c57c;
    }

    .benefits-list-item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1;
        margin-left: 368px;
      }
  }
  
  @media only screen and (min-width: 1440px) {
    .benedits-container {
        display: flex;
        justify-content: space-between;
    }

    .second-heading {
        font-weight: 400;
        font-size: 108px;
        line-height: 124px; 
        line-height: 1.14815;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #F0F0F0;
    }

    .heading-span {
        font-weight: 400;
        font-size: 108px;
        line-height: 124px; 
        line-height: 1.14815;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #14c57c;
    }

    .div-benefits-img {
        display: block;
        max-width: 526px !important;
    }

    .benefits-div{
      width: 50vw;
    }

    .benefits-list {
        margin-top: 276px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
} 
  }
  