.benefits {
  position: relative;
  background-color: #1e2023;
}

.second-heading {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
}

.heading-span {
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #14c57c;
}

.div-benefits-image {
  display: none;
}

.benefits-div {
  /* width: 100%;
  height: auto; */
}

.benefits-list {
  width: 100%;
  flex-direction: column;
  gap: 16px;
  /* margin-bottom: 64px; */
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: rgba(20, 197, 124, 0.1);
}

.icon {
  fill: #ffffff;
  align-items: center;
  justify-content: center;
}

.benefits-svg {
  stroke: #14c57c;
}

.benefits-list-item {
  width: 100%;
  position: relative;
}

.benefits-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 8px;
}

.benefits-list-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f0f0f0;
}

.benefits-list-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
}

@media screen and (max-width: 767px) {
  .benefits {
    padding: 48px 0;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .benefits-list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .second-heading {
    margin-bottom: 40px;
  }
  .div-benefits-image {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-list-item {
    width: calc((100% - 32px) / 2);
  }

  .second-heading {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-top: 68px;
  }

  .heading-span {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #14c57c;
  }

  .benefits-list-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: 368px;
  }
}

@media only screen and (min-width: 1280px) {
  .benefits {
    padding: 82px 0;
  }

  .benefits-div {
    display: grid;
  }

  .benedits-container {
    display: grid;
    justify-content: space-between;
  }

  .second-heading {
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f0f0f0;
    max-width: 681px;
  }

  .heading-span {
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #14c57c;
  }

  .div-benefits-image {
    display: block;
    position: absolute;
    top: -70px;
    right: 32px;
    width: 526px;
  }

  .benefits-list {
    position: relative;
    top: -100px;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .benefits-list-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #f0f0f0;
  }
}