:root {
  font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --primary-text-color: #f0f0f0;
    --primary-bcg-color: #1e2023;
    --accent-color: #14c57c;
    --accent-bcg: #204136;
    --second-accent-bcg: #2a2d32;
    --bcg-modal: rgba(30, 32, 35, 0.8);
    --third-accent-bcg: rgba(20, 197, 124, 0.1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .container {
    min-width: 320px;
    max-width: 360px;
  }
}