.error-message {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: #f05748;
}

.co-work {
  padding-top: 80px;
  padding-bottom: 80px;
}

.modal-closeBtn-icon {
  stroke: white;
}
.co-work-span {
  color: #f0f0f0;
}

.co-work-title {
  font-family: 'Impact', sans-serif;
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-align: left;
  text-transform: uppercase;
  color: #00b068;
}
.co-work-after-title {
  margin-bottom: 32px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--primary-text-color);

  height: 84px;
  text-transform: uppercase;
}
.co-work-contact-list {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
}
.co-work-contact-item {
  align-items: center;
}

.co-work-contact-link {
  display: flex;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #f0f0f0;
}

.co-work-contact-link:hover,
.co-work-contact-link:focus {
  color: #00b068;
}

.co-work-contact-icon {
  margin-right: 16px;
}

.co-work-after-title {
  height: 84px;
  width: 320px;
}

/* FORM */

.co-work-form-wrap {
  margin-top: 40px;
}

.co-work-form {
  width: 320px;
}

.co-work-user {
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.co-work-user,
.co-work-message {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--primary-text-color);
  background-color: var(--second-accent-bcg);
  border: none;
  border-radius: 10px;
}

.co-work-user:hover,
.co-work-message:hover {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--second-accent-bcg);
}

.co-work-user:focus,
.co-work-message:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: var(--second-accent-bcg);
}
.co-work-message {
  margin-top: 28px;
  box-sizing: border-box;
  resize: none;
  padding: 16px;
  width: 100%;
}

.co-work-btn {
  width: 320px;
  margin-top: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #00b068;
  border: none;
  border-radius: 10px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
}

.co-work-btn:hover,
.co-work-btn:focus {
  background-color: #009156;
}

.co-work-contact-icon {
  fill: var(--accent-color);
}

/* MODAL WINDOW */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(30, 32, 35, 0.8);
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content {
  text-align: center;
  padding: 48px 32px;
  position: relative;
  background-color: var(--second-accent-bcg);
  border: none;
  width: 80%;
  border-radius: 10px;

  max-width: 500px;
}

.modal-closeBtn {
  margin-bottom: 8px;
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #009156;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: center;
  height: 96px;
  width: 100%;
  font-weight: 400;
}

.modal-message {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--primary-text-color);
  width: 100%;
}

.modal.show {
  display: flex;
}

.is-hidden {
  display: none;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .co-work {
    padding-top: 124px;
    padding-bottom: 124px;
    padding-top: 50px; /* Adjust based on your design */
    color: var(--primary-text-color);
  }

  .co-work-title {
    background-image: url(./img/hero-img/bg-3-min.png);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: left;
    margin-bottom: 63px;
    font-size: 108px;
    line-height: 1.1;
    letter-spacing: 1.8px;
    text-align: left;
  }
  .co-work-after-title {
    width: 488px;
    height: 64px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
  }

  /* FORM */

  .co-work-form-wrap {
    margin-top: 60px;
  }

  .co-work-form {
    width: 100%;
  }

  .co-work-btn {
    width: 173px;
  }
  /* MODAL WINDOW */

  .modal-content {
    padding: 64px;
  }
  .modal-closeBtn {
    margin-bottom: 20px;
  }
}

/* DESCTOPE */

@media screen and (min-width: 1280px) {
  .co-work-wrap {
    display: flex;
    flex-wrap: nowrap;
  }

  .desctope-wrap {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .co-work {
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .co-work-after-title {
    margin-bottom: 120px;

    font-size: 20px;
    line-height: 1.6;
    width: 488px;
  }
  .co-work-contact-list {
    flex-direction: column;
  }

  /* FORM */

  .co-work-form-wrap {
    margin-left: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .co-work-form {
    width: 592px;
  }

  .co-work-message {
    margin-top: 34px;
  }

  .co-work-btn {
    width: 173px;
  }

  /* MODAL WINDOW */

  .modal-message {
    width: 364px;
  }
  .modal-title {
    width: 364px;
  }
}
